root = true

[*]
indent_style = space
indent_size = 4

[*.sln]
indent_size = 2

[*.csproj]
indent_size = 2

[*.cs]
dotnet_diagnostic.IDE0130.severity = warning
dotnet_diagnostic.IDE0001.severity = warning
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0320.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.CA1848.severity = none
csharp_style_prefer_primary_constructors = false

# IDE0320: Make anonymous function static
csharp_prefer_static_anonymous_function = false

[*.md]
indent_size = 2

[Makefile]
indent_style = tab
