[alias]
    c = commit
    ca = commit --amend
    cb = branch --show-current
    pub = push -u origin/$(git cb)
    ra = rebase --abort
    rc = rebase --continue
    s = status
    sp = stash pop
    p = push
    pf = push --force
    pfwl = push --force-with-lease
    u = pull
[user]
	email = kvistcake@gmail.com
	name = Andreas Kvist
[pull]
	rebase = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
