[Unit]
Description=Start Polybar After KDE has loaded
After=multi-user.target
Requires=xdg-desktop-autostart.target

[Service]
Type=oneshot
ExecStart=/home/andreas/.local/bin/polybar-start

[Install]
WantedBy=multi-user.target