[Desktop Entry]
Exec=/home/andreas/.config/polybar/launch.sh --kvist
Icon=dialog-scripts
Name=launch.sh
Path=
Type=Application
X-KDE-AutostartScript=true