@import url("../gtk-3.0/catppuccin-mocha.css");

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  padding: 0px 12px;
  background-color: @base;
  color: @text;
}

#workspaces button:first-child {
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button.focused {
  color: @base;
  background-color: @text;
}

#workspaces button.active {
  color: @base;
  background-color: @text;
}

#workspaces button:hover {
  color: @base;
  background-color: @text;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#memory,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray,
#custom-power,
#custom-logo {
  background-color: @base;
  border-radius: 10px;
  border: 1px solid;
}

#memory,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  padding: 6px 15px;
  color: @text;
}

#custom-power {
  padding: 6px 12px;
  color: @text;
}

#custom-logo {
  padding-right: 7px;
  font-size: 15px;
  color: #1793d1;
  border-color: #1793d1;
}

#memory {
  color: @peach;
  border-color: @peach;
}

#battery {
  color: @red;
  border-color: @red;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @mantle;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  color: @green;
  border-color: @green;
}

#backlight {
  color: @peach;
  border-color: @peach;
}

#pulseaudio {
  color: @yellow;
  border-color: @yellow;
}

#network {
  color: @teal;
  border-color: @teal;
}

#clock {
  color: @mauve;
  border-color: @mauve;
}

#custom-power {
  color: @flamingo;
  border-color: @flamingo;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @base;
  color: @text;
  border: 1px solid @text;
}

tooltip label {
  padding: 5px;
  background-color: @base;
}
