:root {
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
    --color-text: #cdd6f4;
    --color-subtext0: #a6adc8;
    --color-subtext1: #bac2de;
    --color-lavender: #b4befe;
}
